name: Build Windows RDKit 

on:
  push:
    branches:
      - master

env:
  version: 2025_09_3
  BOOST_VERSION: 1.81.0
  BOOST_NAME: boost_1_81_0


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Download source code
        run: |
          choco install curl wget ninja -y
          pip install cmake==3.18
          wget https://github.com/rdkit/rdkit/archive/Release_${{env.version}}.tar.gz
          tar -xf Release_${{env.version}}.tar.gz
          dir
      - name: Configure build for amd64
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64
          toolset: 14.29

      - name: Install Boost
        shell: powershell
        run: |
         cmake --version
         curl.exe -L https://zlib.net/fossils/zlib-1.2.11.tar.gz -o zlib-1.2.11.tar.gz
         curl.exe -L https://sourceware.org/pub/bzip2/bzip2-1.0.6.tar.gz -o bzip2-1.0.6.tar.gz
         curl.exe -L https://sourceforge.net/projects/boost/files/boost/${{env.BOOST_VERSION}}/${{env.BOOST_NAME}}.tar.gz/download -o ${{env.BOOST_NAME}}.tar.gz
         tar -xzf zlib-1.2.11.tar.gz
         tar -xzf bzip2-1.0.6.tar.gz
         tar -xzf ${{env.BOOST_NAME}}.tar.gz
         dir
         cd ${{env.BOOST_NAME}}
         .\bootstrap.bat --without-icu
         .\b2 --clean-all
         .\b2 --stagedir=win32-x86_64 address-model=64 architecture=x86 toolset=msvc-14.2 threading=multi variant=release `
            runtime-link=static link=static stage `
            --with-regex --disable-icu --disable-python --with-thread --with-serialization --with-iostreams --with-system `
            -sBZIP2_SOURCE=${{ github.workspace }}\..\bzip2-1.0.6 -sZLIB_SOURCE=${{ github.workspace }}\..\zlib-1.2.11 -sNO_LZMA=1
      
      - name: Bulid RDKit
        env: 
          BOOST_ROOT: ${{ github.workspace }}/${{env.BOOST_NAME}}
        run: |
          dir ${{env.BOOST_NAME}}
          cd rdkit-Release_${{env.version}}
          md build && cd build
          cmake .. -DRDK_BUILD_PYTHON_WRAPPERS=OFF `
                   -DRDK_BUILD_FREETYPE_SUPPORT=OFF `
                   -DBoost_USE_STATIC_LIBS=ON `
                   -DBoost_USE_STATIC_RUNTIME=ON `
                   -DCMAKE_BUILD_TYPE=Release `
                   -DBOOST_ROOT="${{env.BOOST_ROOT}}" `
                   -DBOOST_LIBRARYDIR="${{env.BOOST_ROOT}}\win32-x86_64\lib" `
                   -DBoost_INCLUDE_DIR="${{env.BOOST_ROOT}}\boost" `
                   -DBoost_NO_BOOST_CMAKE=OFF `
                   -DBoost_NO_SYSTEM_PATHS=ON 
                   
          sed -i 's/-MD/-MT/g' build.ninja
          ninja install -j4 || ninja install -j1
          dir lib\
          Copy-Item -Path ".\lib\"         -Destination "C:\RDKit_Win64\lib" -Recurse
          Copy-Item -Path "..\Code\"       -Destination "C:\RDKit_Win64\Code" -Recurse
        
      - name: Upload RDKit
        uses: actions/upload-artifact@v4
        if: ${{ success() }}
        with:
          name: RDKit_Win64
          path: |
            C:\RDKit_Win64

            

