name: Build Windows RDKit 

on:
  push:
    branches:
      - master

env:
  version: 2025_09_3

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Download source code
        run: |
          choco install wget -y
          wget https://github.com/rdkit/rdkit/archive/Release_${{env.version}}.tar.gz
          tar -xvf Release_${{env.version}}.tar.gz
          dir
          
      - name: Install boost
        uses: MarkusJx/install-boost@v2.4.4
        id: boost
        with:
            boost_version: 1.81.0
            platform_version: 2019
            # install to C:\boost
            boost_install_dir: C:\
            toolset: msvc
      
      - name: Configure build for amd64
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64
          toolset: 14.29
      
      - name: Bulid RDKut
        run: |
          cd rdkit-Release_${{env.version}}
          md build && cd build
          cmake .. -DRDK_BUILD_PYTHON_WRAPPERS=ON -DBOOST_ROOT=C:/boost -DRDK_BUILD_INCHI_SUPPORT=ON -DRDK_BUILD_AVALON_SUPPORT=ON -DRDK_BUILD_PGSQL=OFF
          dir
        
      - name: EXE
        run: |
          md tempfiles
        
      - name: Upload RDKit
        uses: actions/upload-artifact@v4
        if: ${{ success() }}
        with:
          name: RDKit_Win64
          path: |
            tempfiles/
            
    
