name: Build Windows RDKit 

on:
  push:
    branches:
      - master

env:
  version: 2025_09_3
  BOOST_VERSION: 1.81.0
  BOOST_NAME: boost_1_81_0


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Download source code
        run: |
          choco install curl wget ninja -y
          wget https://github.com/rdkit/rdkit/archive/Release_${{env.version}}.tar.gz
          tar -xf Release_${{env.version}}.tar.gz

      - name: Configure build for amd64
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64
          toolset: 14.29
      
      - name: Bulid RDKit
        run: |
          cd rdkit-Release_${{env.version}}
          sed -i '/find_package(Boost ${RDK_BOOST_VERSION} REQUIRED CONFIG)/d' CMakeLists.txt
          sed -i '/target_link_libraries(rdkit_base INTERFACE \${BOOST_LIBRARIES} Boost::boost)/d' CMakeLists.txt
          md build && cd build
          cmake .. -DRDK_BUILD_PYTHON_WRAPPERS=OFF `
                   -DRDK_BUILD_FREETYPE_SUPPORT=OFF `
                   -DRDK_USE_BOOST_IOSTREAMS=OFF `
                   -DCMAKE_BUILD_TYPE=Release `
                   -DRDK_USE_BOOST_SERIALIZATION=OFF `
                   -G Ninja
                
          sed -i 's/-MD/-MT/g' build.ninja
          ninja install -j4 || ninja install -j1
          dir lib\
          Copy-Item -Path ".\lib\"         -Destination "C:\RDKit_Win64\lib" -Recurse
          Copy-Item -Path "..\Code\"       -Destination "C:\RDKit_Win64\Code" -Recurse
        
      - name: Upload RDKit
        uses: actions/upload-artifact@v4
        if: ${{ success() }}
        with:
          name: RDKit_Win64
          path: |
            C:\RDKit_Win64

            

