
name: Build Windows RDKit 

on:
  push:
    branches:
      - master

env:
  version: 2025_09_3
  BOOST_VERSION: 1.81.0
  BOOST_EXE: boost_1_81_0-msvc-14.2-64


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Download source code
        run: |
          choco install curl wget ninja -y
          wget https://github.com/rdkit/rdkit/archive/Release_${{env.version}}.tar.gz
          tar -xf Release_${{env.version}}.tar.gz
          dir

      - name: Configure build for amd64
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64
          toolset: 14.29

      - name: Install Boost
        shell: powershell
        run: |
          $env:BOOST_PATH = "C:\boost"
          curl.exe -o "$env:TEMP\boost.exe" -L https://sourceforge.net/projects/boost/files/boost-binaries/${{env.BOOST_VERSION}}/${{env.BOOST_EXE}}.exe
          Start-Process -Wait -FilePath "$env:TEMP\boost.exe" "/SILENT","/SP-","/SUPPRESSMSGBOXES","/DIR=$env:BOOST_PATH"

          # Set the BOOST_ROOT variable
          echo "BOOST_ROOT=$env:BOOST_PATH" >> $env:GITHUB_ENV
          dir $env:BOOST_PATH
          dir $env:BOOST_PATH\libs
          dir $env:BOOST_PATH\lib64-msvc-14.2
      
      - name: Bulid RDKit
        run: |
          cd rdkit-Release_${{env.version}}
          md build && cd build
          cmake .. -DRDK_BUILD_PYTHON_WRAPPERS=OFF `
                   -DRDK_BUILD_FREETYPE_SUPPORT=OFF `
                   -DBoost_USE_STATIC_LIBS=ON `
                   -DBoost_USE_STATIC_RUNTIME=ON `
                   -DBoost_ROOT=$env:BOOST_ROOT `
                   -G Ninja `
                   -DCMAKE_BUILD_TYPE=Release 
                   
          sed -i 's/-MD/-MT/g' build.ninja
          ninja install -j4 || ninja install -j1
          dir lib\
          Copy-Item -Path ".\lib\"         -Destination "C:\RDKit_Win64\lib" -Recurse
          Copy-Item -Path "..\Code\"       -Destination "C:\RDKit_Win64\Code" -Recurse
        
      - name: Upload RDKit
        uses: actions/upload-artifact@v4
        if: ${{ success() }}
        with:
          name: RDKit_Win64
          path: |
            C:\RDKit_Win64
            
