name: Build Windows RDKit 

on:
  push:
    branches:
      - master

env:
  version: 2025_09_3

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Download source code
        run: |
          choco install wget ninja -y
          wget https://github.com/rdkit/rdkit/archive/Release_${{env.version}}.tar.gz
          tar -xvf Release_${{env.version}}.tar.gz
          dir

      - name: Configure build for amd64
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64
          toolset: 14.29
          
      - name: Build Boost
        id: boost
        uses: mickem/build-boost@v1
        with:
          version: 1.81.0
          libraries: filesystem program_options system serialization iostreams zlib
          platform: x64
          toolset: msvc142
          configuration: Release
          static: 1
          static-runtime: 1

      - name: Bulid RDKit
        env:
          BOOST_ROOT: ${{ steps.boost.outputs.root }}
        run: |
          dir D:\a\RDKit_Win64\boost
          cd rdkit-Release_${{env.version}}
          md build && cd build
          cmake .. -DRDK_BUILD_PYTHON_WRAPPERS=OFF `
                   -DBOOST_ROOT=${{ env.BOOST_ROOT }} `
                   -DBOOST_LIBRARYDIR=${{ steps.boost.outputs.librarydir }} `
                   -DRDK_BUILD_FREETYPE_SUPPORT=OFF `
                   -DBoost_USE_STATIC_LIBS=ON `
                   -G Ninja `
                   -DCMAKE_BUILD_TYPE=Release `
                   -DBoost_USE_STATIC_RUNTIME=ON
                   
          sed -i 's/-MD/-MT/g' build.ninja
          ninja install -j4 || ninja install -j1
          dir lib\
          Copy-Item -Path ".\lib\" -Destination "C:\RDKit_Win64\lib" -Recurse
          Copy-Item -Path "..\Code\"       -Destination "C:\RDKit_Win64\Code" -Recurse
        
      - name: Upload RDKit
        uses: actions/upload-artifact@v4
        if: ${{ success() }}
        with:
          name: RDKit_Win64
          path: |
            C:\RDKit_Win64

