name: Build Windows RDKit 

on:
  push:
    branches:
      - master

env:
  version: 2025_09_3

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Download source code
        run: |
          choco install wget ninja zlib -y
          wget https://github.com/rdkit/rdkit/archive/Release_${{env.version}}.tar.gz
          tar -xvf Release_${{env.version}}.tar.gz
          dir

      - name: Configure build for amd64
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64
          toolset: 14.29

      - name: "Setup cache for dependencies"
        uses: actions/github-script@v7
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');
          
      - name: Build Boost
        run: |
          $env:VCPKG_BUILD_TYPE = "release"
          vcpkg install boost:x64-windows-static --binarysource="clear;x-gha,readwrite"
