name: Build Windows RDKit 

on:
  push:
    branches:
      - master

env:
  version: 2025_09_3

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Download source code
        run: |
          choco install wget ninja -y
          vcpkg install zlib:x64-windows
          wget https://github.com/rdkit/rdkit/archive/Release_${{env.version}}.tar.gz
          tar -xvf Release_${{env.version}}.tar.gz
          dir
          
      - name: Install boost
        uses: MarkusJx/install-boost@6d8df42f57de83c5b326b5b83e7b35d650030103
        id: boost
        with:
            boost_version: 1.81.0
            platform_version: 2019
            # install to C:\boost
            boost_install_dir: C:\
            toolset: msvc
            cache: false
      
      - name: Configure build for amd64
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64
          toolset: 14.29
      
      - name: Bulid RDKit
        env:
          BOOST_ROOT: ${{ steps.boost.outputs.BOOST_ROOT }}
        run: |
          cd rdkit-Release_${{env.version}}
          md build && cd build
          cmake .. -DBoost_LIBRARY_DIR="${{steps.boost.outputs.BOOST_ROOT}}\lib" `
                   -DBoost_INCLUDE_DIR="${{steps.boost.outputs.BOOST_ROOT}}\include" `
                   -DRDK_BUILD_PYTHON_WRAPPERS=OFF `
                   -DBOOST_ROOT=C:/boost `
                   -DRDK_BUILD_FREETYPE_SUPPORT=OFF `
                   -DBoost_USE_STATIC_LIBS=ON `
                   -DRDK_USE_BOOST_IOSTREAMS=OFF `
                   -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake `
                   -G Ninja `
                   -DCMAKE_BUILD_TYPE=Release
                   
          sed -i 's/-MD/-MT/g' build.ninja
          ninja install -j4 || ninja install -j1
          dir lib\
          Copy-Item -Path ".\lib\" -Destination "C:\RDKit_Win64\lib" -Recurse
          Copy-Item -Path "..\Code\"       -Destination "C:\RDKit_Win64\Code" -Recurse
        
      - name: Upload RDKit
        uses: actions/upload-artifact@v4
        if: ${{ success() }}
        with:
          name: RDKit_Win64
          path: |
            C:\RDKit_Win64

