
name: Build Windows RDKit 

on:
  push:
    branches:
      - master

env:
  version: 2025_09_3

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Download source code
        run: |
          choco install wget ninja zlib -y
          wget https://github.com/rdkit/rdkit/archive/Release_${{env.version}}.tar.gz
          tar -xvf Release_${{env.version}}.tar.gz
          dir

      - name: Configure build for amd64
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64
          toolset: 14.29

      - name: "Setup cache for dependencies"
        uses: actions/github-script@v7
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');
          
      - name: Build Boost
        run: |
          $env:VCPKG_BUILD_TYPE = "release"
          vcpkg install boost:x64-windows-static --binarysource="clear;x-gha,readwrite"

      - name: Bulid RDKit
        run: |
          cd rdkit-Release_${{env.version}}
          sed -i 's/set(RDK_BOOST_VERSION "1\.81\.0")/set(RDK_BOOST_VERSION "1.89.0")/g' CMakeLists.txt
          md build && cd build
          cmake .. -DRDK_BUILD_PYTHON_WRAPPERS=OFF `
                   -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake `
                   -DVCPKG_TARGET_TRIPLET=x64-windows-static `
                   -DRDK_USE_BOOST_IOSTREAMS=OFF `
                   -DRDK_BUILD_FREETYPE_SUPPORT=OFF `
                   -DBoost_USE_STATIC_LIBS=ON `
                   -DBoost_USE_STATIC_RUNTIME=ON `
                   -G Ninja `
                   -DCMAKE_BUILD_TYPE=Release 
                   
          sed -i 's/-MD/-MT/g' build.ninja
          ninja install -j4 || ninja install -j1
          dir lib\
          Copy-Item -Path ".\lib\"         -Destination "C:\RDKit_Win64\lib" -Recurse
          Copy-Item -Path "..\Code\"       -Destination "C:\RDKit_Win64\Code" -Recurse
        
      - name: Upload RDKit
        uses: actions/upload-artifact@v4
        if: ${{ success() }}
        with:
          name: RDKit_Win64
          path: |
            C:\RDKit_Win64
            
